<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="See the daily number of Amsterdam citizens that tested positive for COVID-19">
    <meta property="og:title" content="Daily + COVID-19 tests in AMS">
    <meta property="og:url" content="https://amsterdam-covid-19-numbers-app.herokuapp.com/">
    <meta property="og:description" content="See the daily positive COVID-19 tests in Amsterdam">
    <meta property="og:image" content="//cdn.pixabay.com/photo/2020/03/16/16/29/virus-4937553_1280.jpg">
    <title>Daily positive COVID-19 tests in Amsterdam</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    {{{body}}}
</body>
</html>