    <h3>{{title}}</h3>
    <br>
    <table>
        {{#each reports}}
            <tr><td>{{{formatDate this._doc.Date_of_publication}}}</td><td>:</td><td><span>{{this._doc.Total_reported}}</span></td><td>people tested positive for COVID-19 in Amsterdam</td></tr>
        {{/each}}
    </table>
